<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Netshimbupfe website</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>

	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"/>
</head>
<body>

	
	<header>
		<h2 class="logo">Ne<span>sh</span></h2>
		<div class="bx bx-menu" id="menu-icon"></div>

		<ul class="navbar">
			<li><a href="#home">Home</a></li>
			<li><a href="#about">About Me</a></li>
			<li><a href="#resume">Resume</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#skills">Skills</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</header>

	<section class="home" id="home">
		<div class="home-text">
			<h4>Hello, my name is</h4>
			<h1>Netshimbupfe <span>Ofhani</span></h1>
			<div class="wrapper">
				<div class="static-txt">I'm a</div>
				<ul class="dynamic-txts">
				  <li><span>Developer.</span></li>
				  <li><span>Designer.</span></li>
				  <li><span>Youtuber.</span></li>
				  <li><span>Video Editor.</span></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="about" id="about">
		<div class="about-img">
            <img height="300"
            width="300"
            src="{{ url_for('static', filename='img/main-img.png')}}"
            alt="sgis"/>
		</div>

		<div class="about-text">
			<h2>About Me</h2>
			<h4>Hi, Im Here To Help Your Next Project</h4>
			<p>I am a front-end web developer. I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.A responsive design makes your website accessible to all users, regardless of their device.</p>
			
			
		</div>
	</section>
	<div class="container">
	<section class="resume container" id="resume">
		
		<div class="title">
		  <h2>resume</h2>
		  <div>
			<h2>resume</h2>
		  </div>
		</div>
  
		<p class="text">Qualification</p>
  
		<div class="row">
		  <div class="item">
			<div class="icon">
			  <i class="fas fa-graduation-cap"></i>
			</div>
			<span>2022 - present</span>
			<h2>software engineering - <span>WeThinCode_</span></h2>
			<p class="text"></p>
		  </div>
  
		  <div class="item">
			<div class="icon">
			  <i class="fas fa-graduation-cap"></i>
			</div>
			<span>2021</span>
			<h2>bachelor of science in information of technology - <span>Richfield</span></h2>
			<p class="text"></p>
		  </div>
  
		  <div class="item">
			<div class="icon">
			  <i class="fas fa-graduation-cap"></i>
			</div>
			<span>2018 - 2020</span>
			<h2>diploma in information of technology - <span>Richfield</span></h2>
			<p class="text"></p>
		  </div>
  
		  <div class="item">
			<div class="icon">
			  <i class="fas fa-graduation-cap"></i>
			</div>
			<span>2022</span>
			<h2>object-Oriented Programming - <span>Linkedin</span></h2>
			<p class="text"></p>
		  </div>
  
		  <div class="item">
			<div class="icon">
			  <i class="fas fa-graduation-cap"></i>
			</div>
			<span>2022</span>
			<h2>java algorithms - <span>Linkedin</span></h2>
			<p class="text"></p>
		  </div>
  
		  <div class="item">
			<div class="icon">
			  <i class="fas fa-graduation-cap"></i>
			</div>
			<span>2016</span>
			<h2>high school - <span>Mugoidwa Secondary School</span></h2>
			<p class="text"></p>
		  </div>
		</div>
		
	</section>
</div>
  

	<section class="services" id="services">
		<div class="main-text">
			<h2>My Services</h2>
			<h4>Better Design, Better Expericences</h4>
		</div>

		<div class="services-content">
			<div class="box">
				<img src="{{ url_for('static', filename='img/serv1.png')}}"/>
				<h3>Youtuber</h3>
				<p>I creates and uploads videos on the youtube online sharing service. it's one of the best ways to communicate to a wide audience</p>
			</div>

			<div class="box">
				<img src="{{ url_for('static', filename='img/serv2.png')}}"/>
				<h3>Website Design</h3>
				<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>
			</div>

			<div class="box">
				<img src="{{ url_for('static', filename='img/serv3.png')}}"/>
				<h3>Video Editing</h3>
				<p>video editing is the manipulation and arrangement of video shots. video editing is used to structure and present all video information.</p>
			</div>

		</div>
	</section>
	<div class="container">
	<section class="skills container" id="skills">
	
		<div class="title">
		  <h2>skills</h2>
		  <div>
			<h2>my skills</h2>
		  </div>
		</div>
  
		<p class="text">My knowledge or skills</p>
  
		<div class="row">
		  <div class="item">
			<div class="item-text">
			  <span>Html</span>
			  <span class="w-90">90%</span>
			</div>
			<div class="progress">
			  <div class="progress-bar w-90"></div>
			</div>
		  </div>
  
		  <div class="item">
			<div class="item-text">
			  <span>CSS</span>
			  <span class="w-75">75%</span>
			</div>
			<div class="progress">
			  <div class="progress-bar w-75"></div>
			</div>
		  </div>
  
		  <div class="item">
			<div class="item-text">
			  <span>Python</span>
			  <span class="w-85">85%</span>
			</div>
			<div class="progress">
			  <div class="progress-bar w-85"></div>
			</div>
		  </div>
  
		  <div class="item">
			<div class="item-text">
			  <span>Java</span>
			  <span class="w-80">80%</span>
			</div>
			<div class="progress">
			  <div class="progress-bar w-80"></div>
			</div>
		  </div>
  
		  <div class="item">
			<div class="item-text">
			  <span>Javascript</span>
			  <span class="w-60">60%</span>
			</div>
			<div class="progress">
			  <div class="progress-bar w-60"></div>
			</div>
		  </div>
  
		  <div class="item">
			<div class="item-text">
			  <span>C++</span>
			  <span class="w-68">68%</span>
			</div>
			<div class="progress">
			  <div class="progress-bar w-68"></div>
			</div>
		  </div>
		</div>
		
	  </section>
	</div>
  

	<section class="contact" id="contact">
		<div class="contact-text">
			<h2>Contact Me</h2>
			<h4>Let's Work Together</h4>
			<p>Let Me Get You A Beautiful Website.</p>
			<div class="contact-list">
				<li><a href="#">Netshimbupfe - Ofhani - Hilda</a></li>
				<li><a href="#">ofhani_nesh@hotmail.com</a></li>
				<li><a href="#">0685545005</a></li>
			</div>
			<div class="contact-icons">
				<a href="https://www.linkedin.com/in/ofhani-hilda-netshimbupfe-71b12a1b7/"><i class="bx bxl-linkedin" ></i></a>
				<a href="https://wa.me/+27793311234"><i class="bx bxl-whatsapp" ></i></a>
			</div>
		</div>

		<div class="contact-form">
			<form action="https://formsubmit.co/978090fc2858727379de4add626828d8 "method="post">
				<input type="" name="names" placeholder="Enter Your Name" required/>
				<input type="email" name="email" placeholder="Enter Your Email" required/>
				<input type="" name="subject" placeholder="Enter Your Subject"/>
				<textarea name="message" id="" cols="40" rows="10" placeholder="Enter Your Message" required></textarea>
				<input type="submit" value="Submit" id="button" class="send"/>
			</form>
		</div>
	</section>

	<div class="last-text">
		<p>Developed with love by Netshimbupfe Ofhani © 2022</p>
	</div>

	
	<a href="#" class="top"><i class="bx bx-up-arrow-alt" ></i></a>

	<script src="https://unpkg.com/scrollreveal"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
		document.querySelector("#button").addEventListener("click", function(){
				
			let email = document.getElementById("mail").value;
	
			if (email === ""){
				swal({
					title: "fields empty!",
					text: "please check the missing field!",
					icon: "warning",
				});
			}else{
				document.getElementById("submit").click();
				swal({
					title: "successfully submitted!",
					text: "You clicked the button!",
					icon: "success",
					button: "ok!",
				})
			}
});

    
    </script>

</body>
</html>